.card{
    
   margin-left: 30px;
   margin-right: 10px;
  width: 500px;

  border-radius: 0.25rem;
  background-color:rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: .2s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
  }
 
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }

  .card2{
    margin: 10px;

    border-radius: 0.25rem;
    background-color:rgb(255, 255, 255);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
