  .img{
    position: absolute;
    height: 100%;
    width: 100%;
   
  }
  .actions button:hover,
  .actions button:active {
    background-color: blue;
    border-color: blue;
   
  }
  .form{
    margin-top: 80px;
    margin-left: 205px; 
    position: relative;
    
  }
  .space{
    margin-top: 20px;
  }
  .input{
    width: 85%;
    height: 35px;
    
  }
  .contact{
    overflow-x: hidden;
  }
  .card1{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    margin-top: 1%;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 2%;
    padding: 30px;
  }