.img{
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 0;
}
.card2{
    position: relative;
    height: 400px;
    width: 700px;
    margin-left: 170px;
}
.contact{
    overflow-x: hidden;
   
}
.actions{
    width: 130px;
  
    padding-top: 1%;
}
.position{
    margin-left: 11%;
}
.mapouter{
    position:relative;
     text-align:right;
     width:700px;
     height:400px;

}
.gmapcanvas{
    overflow:hidden;
    background:none!important;
    width:700px;
    height:400px;
}
.gampiframe{
    width:700px!important;
    height:400px!important;
   
}
.icons{
  padding-left: 11%;
  position: relative;
}
.mail{
   color: black;
   padding-left: 0%;
}
.location{
    color: black;
    padding-left: 14%;
}
.phone{
    color: black;
    padding-left: 19%;
}
.messenger{
    color: black;
    padding-left: 1%;
}
.msgeffect:hover{
    color: blueviolet;
}

  .text{
    position: relative;
  
  }
  /* .textIcon > i{
       text-align: justifys;
  } */



