.footer{
   
    padding-top: 50px;
    padding-left: 40px;
    background-color:#2fd5d8 ;
     /* height: 200px;  */
    color: black;
   
    
}
p{
    color: blue;
}
.last{
    margin-top: 200px;
    position: relative;
    /* z-index: 99; */
} 
.image{
    width: 4.5rem;
}
.imagep{
    width: 5rem;
    height: 2.5rem;
}