.banner{
    width: 100%;
    height: 450px;
    position: absolute;
    top: 50px;
  }
  .message{
    padding-top: 250px;
    padding-left: 60px;
    position: relative;
    font-weight: bold;
    /* transition: .2s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12); */
    
  }
  /* .message:hover{
    transform: scale(1.02);
  } */
 


