.card1{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
    background-color:#2fd5d8; 
    transition: .2s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
   cursor: pointer; 
   border-radius: 4px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  .card1:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
 
  .submit{
    background-color: black;
    color: light;
    font-weight: bold;
  }
  .submit:hover{
    background-color: white;
    color: black;
  }
  .label{

     color: dark;
  }
