.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(45deg, #1977c4, 
    #104263);
    border-radius: 2.5em;
    padding: 30px;
    width: 500px;
    height: 400px;
    margin-left: 30%;
    margin-top: 4%;
  }
  
  .form::before {
    content: '';
    background-image: linear-gradient(45deg, hsl(213, 100%, 50%), 
    #121967);
    height: 358px;
    width: 309px;
    position: absolute;
    margin-top: -34px;
    margin-left: px;
    z-index: -1;
    border-radius: 2.7em;
  }
  
  .button {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: #0cc3e3;
    color: black;
    padding: 0.7em 2.5em;
    display: flex;
    align-items: center;
    border: 2px solid #66da4300;
    border-radius: 5em;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .button:hover {
    border: 2px solid  #0cc3e3;
    background: #00000000;
    color: #0cc3e3;
  }
  
  .button:active {
    border: 2px solid #66da4300;
    background: #0cc3e3;
    color: black;
  }
  
  .input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #66da4300;
    border-bottom: 1px solid #0cc3e3;
    outline: none;
    background-color: transparent;
    color: #0cc3e3;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
  }
  
  .input:focus {
    border: 1px solid #66da4300;
    border-bottom: 1px solid #0cc3e3;
    background-color: transparent;
    color: white;
  }
  
  .input::placeholder {
    color: #0cc3e3;
  }
  
  .textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: calc(100% - 10px);
    padding-left: 8px;
    padding-bottom: 0px;
    padding-top: 29px;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #66da4300;
    border-bottom: 1px solid #0cc3e3;
    outline: none;
    background-color: transparent;
    color: #0cc3e3;
  }
  
  .textarea::placeholder {
    color: #0cc3e3;
  }
  
  .textarea:focus {
    border: 1px solid #66da4300;
    border-bottom: 1px solid #0cc3e3;
    background-color: transparent;
    color: white;
  }
  .link{
    text-decoration: none;
  }
  .file{
    height: 70px;
    width: 300px;
    background-color: transparent;
    color: #0cc3e3;
    border-bottom: 1px solid #0cc3e3;
    padding-bottom: 8px;
    
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    width: calc(100% - 10px);
    
  }
  input[type="file"]::file-selector-button {
    border: 2px solid transparent;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color:transparent;
    transition: 1s;
  }
  
  input[type="file"]::-ms-browse:hover {
    background-color:  #0cc3e3;
    border: 2px solid #00cec9;
  }
  
  input[type="file"]::-webkit-file-upload-button:hover {
    background-color:  #0cc3e3;
    border: 2px solid #00cec9;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color:  #0cc3e3;
    border: 2px solid #00cec9;
  }
  .modal{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 2rem;
    /* text-align: center; */
    width: 30rem;
  
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 10rem);
    
   
}
