.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    height: 30rem;
    width: 20rem;
    z-index: 10;
    position: fixed;
    top: 10vh;
    left: calc(50% - 15rem);
    overflow-y: scroll;
  }