
.card{
    position: relative;
    height: 650px;
    background-color: white; 
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 600px;
 margin: auto;
 margin-top: 1%;

}


.smallcard{
    height: 165px;
    margin-top: 3%;
    margin-left: 40px;
    width: 500px;
    
}
.title{
margin-top: 3%;
margin-right: auto;
margin-bottom: 9%;
}
.text{
    font-size: 300%;
    font-style: normal ;
    color: green;
 
}
/* .img{
    position: relative;
    width: 110px;
    height: 110px;
} */
.header1{
    font-size: 200%;
    margin-top: 2%;
    color: black;
    margin-left: 3%;
 
}
.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .jimu-primary-loading:before,
  .jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
  }
  
  .jimu-primary-loading:before {
    left: -19.992px;
  }
  
  .jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
  }
  
  .jimu-primary-loading:before,
  .jimu-primary-loading:after,
  .jimu-primary-loading {
    background: #29bfc2;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
  }
  
  .jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
  }
  
  @-webkit-keyframes loading-keys-app-loading {
  
    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 #29bfc2;
      height: 32px;
    }
  
    40% {
      opacity: 1;
      box-shadow: 0 -8px #29bfc2;
      height: 40px;
    }
  }
  
  @keyframes loading-keys-app-loading {
  
    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #29bfc2;
      height: 32px;
    }
  
    40% {
      opacity: 1;
      box-shadow: 0 -8px #29bfc2;
      height: 40px;
    }
  }